.home {
  h3 {
    width: 60vw;
    margin: 10em auto;
    margin-bottom: 1.5em;
    text-align: center;
    font-family: 'Delius', cursive;
  }

  p {
    width: 60vw;
    margin: 0 auto;
    line-height: 5vh;
  }
}
