<section class="home">
  <h3>Summary</h3>
  <p>We’ve all heard it before: Love is kind.</p>
  <br>
  <p>Love may be kind, but heartbreak is not. Losing love can be difficult. While some people can brush it off and move on relatively quickly with their lives, others can't. These people are dwellers, the overthinkers. They are the individuals that genuinely feel each moment of love and then shoulder the blame when their relationships fall apart. Over time, the heartbreak secedes to its heir apparent, heartache.</p>
  <br>
  <p>Acen Matthews is a young man with a battered heart. Tangled in a web of thoughts and heartache, he yearns for contentment and a clear conscience. This introverted battle eventually leads him to a therapist named Dr. Grant Simmons. He introduces Acen to a unique opportunity to explore and replace the negative memories in his troubled past. While Acen hopes to be absolved during this paranormal journey, he soon finds that he cannot escape the curiosity that lures him deeper into the investigation of a woman’s mysterious death.</p>
</section>
