.chapter-item {
  list-style-type: none;
  clear: both;

  width: 90vw;
  margin: 35px auto;

  font-family: $font-primary;

  overflow: auto;
  height: 500px;

  border-right: 20px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;

  &:hover {
    border-right: 20px solid $brand-secondary;
    border-bottom: 2px solid $brand-secondary;
  }

  &:hover .editor-view,  &:hover .line-top {
    border-bottom: 2px solid $brand-secondary;
  }

  .editor-view {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    top: 0;

    z-index: 1000;
    background: $white;
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 15px;

    .header-span {
      font-size: 20px;
      font-weight: bold;
    }

    .icon-file-text2 {
      font-size: 20px;
      margin-left: 10px;
    }

    .editor-container-top {
      float: right;
      margin-right: 6vw;
    }
  }

  .line-top {
    border-bottom: 2px solid #f3f3f3;

    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    top: 0;
  }

  .no-line {
    display: none;
  }

  .current-item {
    overflow: auto;
    height: 100%;
    padding-top: 15px;
  }

  .left {
    float: left;
    width: 65vw;

    .title-label span {
      display: block;
      margin-bottom: 25px;
    }

    .title-title {
      font-size: 14.5px;
      line-height: 35px;
    }

    .body-label {
      position: relative;

      p {
        font-size: 14.5px;
        line-height: 35px;

        span {
          display: inline;
        }
      }

      margin-bottom: 25px;
    }
  }

  .right {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    top: 0;

    float: right;
    margin-right: 2vw;

    .time-label span {
      color: $brand-secondary;
      font-weight: bold;
      font-family: $font-primary;
    }

    .word-count {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
      font-size: 12.5px;

      .tooltip-text, .tooltip-text[aria-hidden="true"] {
        position: absolute;
        z-index: 1;
        left: 125%;
        top: -5px;

        visibility: hidden;
        width: 100px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        opacity: 0;
        transition: opacity 1s;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent #555 transparent transparent;
        }
      }

      &:hover .tooltip-text, .tooltip-text[aria-hidden="false"], &:active .tooltip-text {
        visibility: visible;
        opacity: 1;
      }
    }

    .word-count, .update-container button:nth-child(1) {
      margin-top: 20px;
    }

    .update-container {
      margin-bottom: 20px;
    }

    .icon-bubble {
      cursor: pointer;
      font-size: 20px;
    }
  }

  .unstuck {
    position: initial;
  }

  @media (max-width: 850px) {
    .current-item {
      padding-top: 0;
    }

    .right {
      float: none;
      width: 100%;
      background: $white;
      padding: 20px 0;
      z-index: 500;

      .word-count {
        display: inline;
        margin-right: 5px;
      }

      .update-container {
        display: inline;
      }

      .icon-bubble {
        vertical-align: middle;
      }
    }

    .body-label {
      p {
        width: 85vw;
      }
    }
  }
}
