.chapter-item {
  list-style-type: none;
  clear: both;

  width: 90vw;
  margin: 2em auto;

  font-family: $font-primary;

  overflow: auto;
  height: 500px;

  border-right: 20px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;

  .editor-view {
    font-size: 20px;
    font-weight: bold;
  }

  .line-top {
    border-top: 2px solid #f3f3f3;
    padding-bottom: 25px;
  }

  .body-label {
    position: relative;

    p {
      font-size: 14.5px;
      line-height: 35px;

      span {
        display: inline;
      }
    }

    margin-bottom: 25px;
  }

  .word-count span {
    margin-left: 1vw;
    vertical-align: middle;
  }

  .title-label span {
    display: block;
    margin-bottom: 1.5em;
  }

  .title-title {
    font-size: 14.5px;
    line-height: 35px;
  }

  .time-label span {
    color: $brand-secondary;
    font-weight: bold;
    font-family: $font-primary;
  }

  .word-count button, .update-container button:nth-child(1) {
    margin-top: 1.5em;
  }

  .left {
    float: left;
    margin-right: 5vw;
    width: 65vw;
  }

  .update-container {
    margin-bottom: 1.25em;
  }

  .icon-bubble {
    cursor: pointer;
    font-size: 20px;
  }

  .icon-file-text2 {
    margin-left: 10px;
  }

  @media (max-width: 850px) {
    .right {
      clear: both;
    }

    .body-label {
      p {
        width: 90vw;
        padding-right: 10px;
      }
    }
  }
}
