@media (max-width: 900px) {
  .navbar {
    nav {
      h1 {
        margin-right: $box-std;
      }

      // ul.sub {
      //   width: 50%;
      // }
    }
  }
}

@media (max-width: 650px) {
  .navbar {
      h1 {
        margin-right: $box-sm;
      }

      // ul.sub {
      //   width: 40%;
      // }
    }

}

.navbar {

  nav {
    height: 4em;
    background: $black;

    h1 {
      color: white;
      float: left;
      font-family: $font-primary;
      margin-top: 1.5em;
      margin-left: $gutter-std;
      margin-right: $box-std + 20%;
    }

    a {
      text-decoration: none;
      color: #fff;
      display: block;
    }

    ul {
      list-style: none;
      position: relative;
      text-align: left;

      li {
        float: left;
      }
    }

    ul:after {
      clear: both;
    }

    ul:before, ul:after {
      content: " ";
      display: table;
    }

    ul.primary li a, ul.primary li span {
      display: block;
      padding: 1.5em;
      border-right: 1px solid #3D3D3D;
    }

    ul.primary li:last-child a, ul.primary li span {
      border-right: none;
    }

    ul.primary li a:hover, ul.primary li span:hover {
      color: #000;
    }

    ul.sub {
      position: absolute;
      z-index: 200;
      width: 20%;
      display: none;
      box-sizing: border-box;
      border: 1px solid black;
      border-top: none;

      li {
        float: none;
        margin: 0;

        a, span {
          border-bottom: 1px solid #ccc;
          border-right: none;
          color: #000;
          padding: 15px 30px;
        }

        span {
          cursor: pointer;
          color: blue;
        }

        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }

    ul.primary li:hover ul {
      display: block;
      background: #fff;
    }

    ul.primary li:hover a {
      background: #fff;
      color: #666;
      text-shadow: none;
    }

    ul.primary li:hover > a{
      color: #000;
    }

    button {
      position: relative;
    }
  }
}
