<section class="navbar">

  <nav ng-hide="navbarCtrl.hideNavbarAdmin">
    <h1>MRS papers</h1>
    <ul class="primary">
      <li>
        <a href="">Go &#9662;</a>
        <ul class="sub">
          <li>
            <span class="logout-btn" ng-click="navbarCtrl.logout()">Logout</span>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <nav ng-hide="!navbarCtrl.hideNavbarAdmin">
    <h1>MRS papers</h1>
    <ul class="primary">
      <li>
        <a href="">Go &#9662;</a>
        <ul class="sub">
          <li><a href="/#!/home">Home</a></li>
  				<li><a href="/#!/chapters">Chapters</a></li>
          <li><a href="/#!/login">Admin Login</a></li>
          <li><a href="https://www.instagram.com/e.f.graye/">Instagram</a></li>
          <li><a href="https://twitter.com/efgraye">Twitter</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</section>
