.manuscript-item {
  width: 90vw;
  margin: 1.5em auto;

  h3 {
    margin-left: 0;
  }

  .marg-bottom {
    display: block;
    margin-bottom: 1.5em;
    line-height: 35px;
    font-family: $font-primary;
    font-size: 14.5px;
  }

  .overflow {
    height: 40em;
    overflow: auto;
  }
}
