<li class="manuscript-item">
  <div class="current-item" ng-if="!manuscriptItemCtrl.changeEdit.showEditManuscript">
    <div class="title-label">
      <span class="item-label">title:</span>
      <span class="marg-bottom">{{manuscriptItemCtrl.manuscript.title}}</span>
    </div>

    <div class="desc-label">
      <span class="item-label">description:</span>
      <span class="marg-bottom">{{manuscriptItemCtrl.manuscript.desc}}</span>
    </div>

    <div class="update-container" ng-if="!manuscriptItemCtrl.changeEdit.showEditManuscript">
      <button class="btn-std" ng-click="manuscriptItemCtrl.changeEdit.showEditManuscript = !manuscriptItemCtrl.changeEdit.showEditManuscript">edit</button>
      <button class="btn-std" ng-click="manuscriptItemCtrl.deleteManuscript()">delete</button>
    </div>
  </div>

  <edit-manuscript ng-if="manuscriptItemCtrl.changeEdit.showEditManuscript" manuscript="manuscriptItemCtrl.manuscript" change-edit="manuscriptItemCtrl.changeEdit"></edit-manuscript>

  <create-chapter manuscript="manuscriptItemCtrl.manuscript"></create-chapter>

  <h3>Chapters</h3>

  <chapter-item ng-repeat="item in manuscriptItemCtrl.manuscript.chapters | orderBy:'-timestamp'"
  chapter="item" manuscript="manuscriptItemCtrl.manuscript"></chapter-item>
</li>
