<li class="manuscript-item">
  <div class="current-item" ng-if="!manuscriptItemCtrl.showEditManuscript">
    <div class="title-label">
      <span class="item-label">title:</span>
      <span>{{manuscriptItemCtrl.manuscript.title}}</span>
    </div>

    <div class="desc-label">
      <span class="item-label">description:</span>
      <span>{{manuscriptItemCtrl.manuscript.desc}}</span>
    </div>

    <div class="update-container" ng-if="!manuscriptItemCtrl.showEditManuscript">
      <button class="btn-std" ng-click="manuscriptItemCtrl.showEditManuscript = !manuscriptItemCtrl.showEditManuscript">edit</button>
      <button class="btn-std" ng-click="manuscriptItemCtrl.deleteManuscript()">delete</button>
    </div>
  </div>

  <edit-manuscript ng-if="manuscriptItemCtrl.showEditManuscript" manuscript="manuscriptItemCtrl.manuscript"></edit-manuscript>

  <create-chapter manuscript="manuscriptItemCtrl.manuscript"></create-chapter>

  <chapter-item ng-repeat="item in manuscriptItemCtrl.chapters"
  chapter="item" manuscript="manuscriptItemCtrl.manuscript"></chapter-item>
</li>
