<section class="edit-m">
  <form class="edit-manuscript"
    name="editManuscriptForm"
    ng-submit="editManuscriptCtrl.updateManuscript()"
    no-validate>

    <div class="edit-manuscript-container">
      <fieldset>
        <span class="item-label">title:</span>
        <input class="input-std" ng-model="editManuscriptCtrl.manuscript.title">
      </fieldset>

      <fieldset>
        <span class="item-label">description:</span>
        <input class="input-std" ng-model="editManuscriptCtrl.manuscript.desc">
      </fieldset>
    </div>

    <button type="submit" class="btn-std">update</button>
    <button class="btn-std" ng-click="editManuscriptCtrl.changeEdit.showEditManuscript = !editManuscriptCtrl.changeEdit.showEditManuscript">cancel</button>
  </form>
</section>
