.chapter {
  @extend .chapter-item;

  .time-label, .title-label {
    margin-left: 10vw;
    margin-bottom: 1.5em;
  }

  .title-label {
    font-family: 'Delius', cursive;
  }

  .read-more, .read-less {
    margin-left: 10vw;
  }

  .fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
  }

  .fade.ng-enter.ng-enter-active {
    opacity:1;
  }

  .fade.ng-leave {
    transition:0.5s linear all;
    opacity:1;
  }
  
  .fade.ng-leave.ng-leave-active {
    opacity:0;
  }

  @media (max-width: 850px) {
    .time-label, .title-label, .read-more, .read-less {
      margin-left: 0;
    }
  }
}
