.chapter {
  @extend .chapter-item;

  border-top: none;
  padding-top: 0;

  .current-item button {
    margin: 30px 0px 10px 11%;
    padding: 0px 8px;
  }

  .time-label, .title-label {
    margin-left: 0;
    margin-bottom: 1em;
    line-height: 35px;
  }

  .time-label {
    margin-left: 11%;
  }

  .title-label span {
    font-family: $font-primary;
    font-size: 14.5px;
    margin-bottom: 0;
  }

  .body-label {
    margin-bottom: 0;

    p {
      text-indent: 0;
    }
  }

  .icon-circle-up {
    font-size: 40px;
    text-align: center;
    width: 50px;
    margin: 30px auto 5px;
    color: $brand-secondary;
    cursor: pointer;
  }

  @media (max-width: 850px) {
    .title-label, .read-more, .read-less {
      margin-left: 0;
    }

    .body-label {
      p {
        width: 70vw;
      }
    }
  }
}
