<li class="chapter">
  <div class="current-item">
    <uib-accordion>
      <div uib-accordion-group heading="{{chapterCtrl.chapter.title}}" class="title-label" is-open="status.open">
        <div class="time-label">
          <span>{{chapterCtrl.chapter.timestamp | date: 'MMM d, y h:mm a'}}</span>
        </div>

        <div class="body-label">
          <span ng-bind-html="chapterCtrl.trustAsHtml(chapterCtrl.chapter.body)"></span>
        </div>

        <div class="icon-circle-up" ng-click="status.open = !status.open; chapterCtrl.scrollUp()"></div>
      </div>
    </uib-accordion>

    <span class="">view comments</span>

    <div id="fb-comments-box" comments-facebook class="fb-comments" page-href="http://www.mrspapers.com/#!/chapters/{{chapterCtrl.chapter._id}}" data-width="600" data-numposts="5"></div>
  </div>
</li>
