<li class="chapter">
  <div class="current-item">

    <uib-accordion>
      <div uib-accordion-group heading="{{chapterCtrl.chapter.title}}" class="title-label" is-open="status.open">
        <div class="time-label">
          <span>{{chapterCtrl.chapter.timestamp | date: 'MMM d, y h:mm a'}}</span>
        </div>

        <div class="body-label">
          <span ng-bind-html="chapterCtrl.chapter.body">{{chapterCtrl.chapter.body}}</span>
        </div>

        <button class="btn-std" ng-click="status.open = !status.open; chapterCtrl.scrollUp()">collapse and search for other chapters</button>
      </div>
    </uib-accordion>
  </div>
</li>
