.create-chapter {
  width: 90vw;
  margin: 35px auto;

  h3 {
    margin-bottom: 20px;
  }

  .chapter-form {
    float: left;
    width: 65vw;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .add-chapter {
    width: 100px;
    float: right;
    text-align: right;
    margin-right: 10vw;
  }

  @media (max-width: 850px) {
    .chapter-form {
      width: 90vw;
    }

    .add-chapter {
      float: none;
      text-align: left;
    }
  }
}
