.login {

  h3 {
    margin-left: 0;
    margin-bottom: 30px;
  }

  input {
    text-align: center;
    width: 150px;
    margin-bottom: 35px;

    &:focus {
      text-align: left;
      width: 300px;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
    }
  }

  span {
    display: block;
    font-family: $font-primary;
    font-size: 14.5px;
    color: $exit;
    margin-top: -24px;
    margin-bottom: 10px;
  }
}
