<section class="login">
  <h3>Admin Login.</h3>

  <form
    class="login-form"
    name="loginForm"
    ng-submit="loginCtrl.login()" novalidate>
    <div
      ng-class="{
        'error': loginForm.email.$invalid,
        'success': loginForm.email.$valid,
      }">
      <input type="text"
        name="email"
        placeholder="email"
        ng-minlength="10"
        ng-model="loginCtrl.user.email"
        class="input-std" required>
    </div>

    <div
      ng-class="{
        'error': loginForm.password.$invalid && loginForm.$submitted,
        'success': loginForm.password.$valid,
      }">
      <input type="password" name="password"
        ng-disabled="loginForm.username.$invalid"
        placeholder="password"
        ng-minlength="6"
        ng-model="loginCtrl.user.password"
        class="input-std" required>
    </div>

    <button class="btn-std">login</button>
  </form>
</section>
