<section class="login">
  <h1>Admin Login</h1>

  <span ng-hide='loginCtrl.invalid'>Invalid email and/or password.</span>

  <form
    class="login-form"
    name="loginForm"
    ng-submit="loginCtrl.login()" novalidate>

    <div>
      <input
        type="text"
        name="email"
        placeholder="email"
        ng-minlength="10"
        ng-model="loginCtrl.user.email"
        class="input-std" required>

        <span ng-show="loginForm.email.$touched && loginForm.email.$invalid">Email is required.</span>
    </div>

    <div>
      <input
        type="password"
        name="password"
        placeholder="password"
        ng-minlength="6"
        ng-model="loginCtrl.user.password"
        class="input-std" required>

        <span ng-show="loginForm.password.$touched && loginForm.password.$invalid">Password is required.</span>
    </div>

    <button class="btn-std">login</button>
  </form>
</section>
