<section class="admin-home">
  <create-manuscript></create-manuscript>

  <div class="manuscript-item-container">
    <h2>Manuscripts</h2>

    <div class="modal-bg" ng-show="adminHomeCtrl.loader.loading">
      <div class="loading-modal">
        <div class="loading-icon"></div>
        <span>Loading manuscripts...</span>
      </div>
    </div>

    <ul>
      <manuscript-item
        ng-repeat="item in adminHomeCtrl.manuscripts"
        manuscript="item"
        delete-done="adminHomeCtrl.manuscriptDeleteDone(manuscriptData)"
        ng-click="adminHomeCtrl.currentManuscript = item">
      </manuscript-item>
    </ul>
  </div>
</section>
