.edit-c {
  @extend .create-chapter;
  margin: 0;
  padding-top: 15px;
  width: 85vw;

  .edit-chapter-container {
    @extend .chapter-form;
  }

  @media (max-width: 850px) {
    .edit-chapter-container fieldset {
      width: 82.5vw;
    }
  }
}
