<section class="edit-c">
  <form class="edit-chapter"
    name="editChapterForm"
    ng-submit="editChapterCtrl.updateChapter()"
    no-validate>

    <div class="edit-chapter-container">
      <fieldset>
        <span class="item-label">title:</span>
        <input class="input-std" ng-model="editChapterCtrl.chapter.title">
      </fieldset>

      <fieldset>
        <span class="item-label">body:</span>
        <textarea ui-tinymce="editChapterCtrl.tinymceOptions" ng-model="editChapterCtrl.chapter.body"></textarea>
      </fieldset>
    </div>
  </form>
</section>
