.chapters {
  .chapter-container {
    h3 {
      width: 90vw;
      margin: 4.5em auto 1.5em;
      text-align: center;
    }

    .search {
      width: 50vw;
      margin: 0 auto;
      text-align: center;

      input {
        margin-bottom: 0;
      }
    }
  }
}
