.chapters {

  .chapter-container {
    h3 {
      width: 90vw;
      margin: 100px auto 25px;
      text-align: center;
    }

    .search {
      width: 50vw;
      margin: 0 auto;
      text-align: center;

      input {
        margin-bottom: 0;
      }
    }
  }
}
