.navbar {
  font-family: 'Delius', cursive;

  nav {
    height: 4em;
    background: linear-gradient(top,  $brand-tertiary,  $brand-secondary);
    background: -ms-linear-gradient(top, $brand-tertiary,  $brand-secondary);
    background: -webkit-gradient(linear, left top, left bottom, from($brand-tertiary), to($brand-secondary));
    background: -moz-linear-gradient(top, $brand-tertiary, $brand-secondary);
    box-shadow: 0px 2px 8px $black;

    h1 {
      color: $brand-primary;
      float: left;
      margin-top: 1.5em;
      margin-left: $gutter-lg + 5%;

      a {
        color: $brand-primary !important;
      }
    }

    a {
      text-decoration: none;
      color: #666;
      display: block;

      &:hover {
        color: $black;
      }
    }

    ul {
      list-style: none;
      position: relative;
      text-align: left;
      position: absolute;
      right: 15%;
      top: 65px;
      z-index: 200;
      border-top: none;
      box-shadow: 2px 2px 8px $black;
      background: $brand-primary;

      li {
        float: left;
        padding: 1em 1.5em;
      }
    }

    .go {
      cursor: pointer;
      color: $brand-primary;
      float: right;
      margin-right: $gutter-lg + 5%;
      padding: 1.5em;

      .nav-items {
        display: none;
      }

      &:hover {
        .nav-items {
          display: block;
        }

        background: $brand-primary;
        color: $black;
      }
    }
  }

  .in-app {
    h1 {
      margin-left: $gutter-std;
    }

    .logout-btn {
      cursor: pointer;
      color: $brand-primary;
      float: right;
      margin-right: $gutter-std;
      padding: 1.5em;

      &:hover {
        background: $brand-primary;
        color: $black;
      }
    }
  }

  @media (max-width: 500px) {
    nav ul li {
      float: none;
      text-align: center;
      border-bottom: 1px solid #666;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
