.navbar {
  font-family: 'Delius', cursive;

  nav {
    height: 4em;
    background: linear-gradient(top,  $brand-tertiary,  $brand-secondary);
    background: -ms-linear-gradient(top, $brand-tertiary,  $brand-secondary);
    background: -webkit-gradient(linear, left top, left bottom, from($brand-tertiary), to($brand-secondary));
    background: -moz-linear-gradient(top, $brand-tertiary, $brand-secondary);
    box-shadow: 0px 2px 8px $black;

    h1 {
      color: $brand-primary;
      float: left;
      margin-top: 1.5em;
      margin-left: $gutter-lg + 5%;
      margin-right: $box-std + 15%;
    }

    a {
      text-decoration: none;
      color: $brand-primary;
      display: block;
    }

    ul {
      list-style: none;
      position: relative;
      text-align: left;

      li {
        float: left;
      }
    }

    ul:after {
      clear: both;
    }

    ul:before, ul:after {
      content: " ";
      display: table;
    }

    ul.primary li a, ul.primary li span {
      display: block;
      padding: 1.5em;
      border-right: 1px solid #3D3D3D;
    }

    ul.primary li:last-child a, ul.primary li span {
      border-right: none;
    }

    ul.primary li a:hover, ul.primary li span:hover {
      color: #000;
    }

    ul.sub {
      position: absolute;
      z-index: 200;
      width: 20%;
      display: none;
      border-top: none;
      box-shadow: 2px 2px 8px $black;

      li {
        float: none;
        margin: 0;

        a, span {
          border-bottom: 1px solid #ccc;
          border-right: none;
          color: #000;
          padding: 15px 30px;
        }

        span {
          cursor: pointer;
        }

        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }

    ul.primary li:hover ul {
      display: block;
      background: #fff;
    }

    ul.primary li:hover a, span {
      background: $brand-primary;
      color: #666;
      text-shadow: none;
    }

    ul.primary li:hover > a{
      color: #000;
    }
  }
}

@media (max-width: 900px) {
  .navbar {
    nav {
      h1 {
        margin-right: $box-std + 5%;
      }

      ul.sub {
        width: 25%;
      }
    }
  }
}

@media (max-width: 650px) {
  .navbar {
    nav {
      h1 {
        margin-right: $box-std - 5%;
      }

      ul.sub {
        width: 30%;
      }
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    nav {
      h1 {
        margin-right: $box-sm;
      }

      ul.sub {
        width: 40%;
      }
    }
  }
}
