<section class="navbar">
  <nav class="in-app" ng-hide="navbarCtrl.hideNavbarAdmin">
    <h1>MRS papers</h1>
    <div class="logout-btn" ng-click="navbarCtrl.logout()">Logout</div>
  </nav>

  <nav ng-hide="!navbarCtrl.hideNavbarAdmin">
    <h1><a href="/#!/summary">MRS papers</a></h1>
    <div class="go">Go &#9662;
      <ul class="nav-items">
        <li><a href="/#!/summary">Summary</a></li>
  			<li><a href="/#!/chapters">Chapters</a></li>
        <li><a href="/#!/login">Admin Login</a></li>
      </ul>
    </div>
  </nav>
</section>
