.site-footer {
  height: 110px;
  background: linear-gradient(top,  $brand-secondary,  $brand-tertiary);
  background: -ms-linear-gradient(top, $brand-secondary,  $brand-tertiary);
  background: -webkit-gradient(linear, left top, left bottom, from($brand-secondary), to($brand-tertiary));
  background: -moz-linear-gradient(top, $brand-secondary, $brand-tertiary);
  box-shadow: 0px 2px 8px $black;

  text-align: center;
  font-family: 'Delius', cursive;

  span {
    line-height: 25px;
    margin-top: 40px;
    display: inline-block;
    width: 250px;
    color: $brand-primary;
    text-decoration: underline;
    cursor: pointer;
  }

  .absolute {
    position: absolute;
    bottom: 100px;
    width: 100%;

    .toggle-quote {
      position: relative;
      width: 65%;
      padding: 25px;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
      margin: 0 auto;
      background: $brand-primary;
      color: $black;
      text-decoration: none;
      cursor: default;

      .exit-button {
        position: absolute;
        top: 2px;
        right: 10px;
        cursor: pointer;
      }
    }
  }
}
